@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

.ponto {
  display: flex;
  position: relative;
  align-items: baseline;
  gap: 1rem;
  padding-top: 6.5vw;
  padding-left: 6rem;
}
.ponto img {
  width: 1.5rem;
  height: 1.5rem;
}
.ponto h2 {
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .ponto {
    padding-left: 2rem;
    padding-top: 100px;
  }
}
@media (max-width: 480px) {
  .ponto {
    padding-left: 1rem;
    padding-top: 150px;
  }
  .ponto h2 {
    font-size: 1.3rem;
  }
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.7rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease, padding 0.3s ease, -webkit-backdrop-filter 0.3s ease;
  transition: background 0.3s ease, backdrop-filter 0.3s ease, padding 0.3s ease;
  transition: background 0.3s ease, backdrop-filter 0.3s ease, padding 0.3s ease, -webkit-backdrop-filter 0.3s ease;
  background: #a80c11;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
#cabecalho.scrolled {
  background: rgba(168, 12, 17, 0.75);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
#cabecalho .logo img {
  width: 140px;
  height: auto;
}
#cabecalho .menu {
  display: flex;
  gap: 25px;
}
#cabecalho .menu button {
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
}
#cabecalho .menu button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -4px;
  background: #ffffff;
  transition: 0.3s;
}
#cabecalho .menu button:hover {
  color: #ffdddd;
}
#cabecalho .menu button:hover::after {
  width: 100%;
}
@media (max-width: 992px) {
  #cabecalho {
    padding: 0.7rem 2rem;
  }
}
@media (max-width: 480px) {
  #cabecalho {
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
  #cabecalho .logo {
    margin-bottom: 0.5rem;
  }
}

.faq {
  max-width: 800px;
  margin: 1rem auto 3rem auto;
  padding: 1rem;
  text-align: justify;
}
.faq .faq-item {
  border: 1px solid #c9c9c9;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.faq .faq-item.active .faq-answer {
  max-height: 300px;
  padding: 1rem;
}
.faq .faq-item.active .arrow {
  transform: rotate(90deg);
}
.faq .faq-question {
  cursor: pointer;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  background: #f9f9f9;
}
.faq .faq-text {
  position: relative;
  padding-left: 1rem;
}
.faq .faq-text::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 3.6rem;
  background-color: hsl(0, 62%, 46%);
  border-radius: 4px 0px 0px 4px;
}
.faq .faq-answer {
  max-height: 0;
  overflow: hidden;
  background: #ffffff;
  color: #333;
  transition: max-height 0.3s ease, padding 0.3s ease;
  padding: 0 1rem;
  border: 1px solid #f9f9f9;
  border-top: 2px solid #f9f9f9;
  border-radius: 0 0 5px 5px;
}
.faq .arrow {
  transition: transform 0.3s ease;
  color: #a80c11;
}
@media (max-width: 768px) {
  .faq {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
}
@media (max-width: 480px) {
  .faq .faq-question {
    padding: 0.8rem;
  }
  .faq .faq-text {
    font-size: 0.95rem;
  }
  .faq .faq-answer {
    font-size: 0.9rem;
  }
}

#rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem 0.8rem;
  background-color: #a80c11;
  color: #ffffff;
  text-align: start;
}
#rodape .conteudo-rodape {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 1200px;
}
#rodape .coluna-logo,
#rodape .coluna-sobre,
#rodape .coluna-contato {
  flex: 1;
  min-width: 280px;
}
#rodape .coluna-logo {
  display: flex;
  align-items: start;
}
#rodape .coluna-logo .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#rodape .coluna-logo .logo img {
  width: 50px;
}
#rodape .coluna-logo .logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}
#rodape .coluna-sobre h3,
#rodape .coluna-contato h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
#rodape .coluna-sobre p {
  font-size: 1rem;
  text-align: justify;
}
#rodape .coluna-contato .contato-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.4rem 0;
}
#rodape .coluna-contato .contato-item .icone img {
  width: 20px;
}
#rodape .coluna-contato .contato-item span {
  font-size: 1rem;
}
#rodape .divisao {
  width: 75%;
  height: 0.5px;
  background-color: #ffffff;
  margin-bottom: 1rem;
}
#rodape .text-center {
  font-size: 0.85rem;
}
@media (max-width: 992px) {
  #rodape .conteudo-rodape {
    gap: 2.5rem;
  }
}
@media (max-width: 768px) {
  #rodape .conteudo-rodape {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  #rodape .coluna-sobre {
    text-align: center;
  }
  #rodape .coluna-sobre p {
    text-align: center;
  }
  #rodape .coluna-logo,
  #rodape .coluna-contato .contato-item {
    justify-content: center;
  }
}/*# sourceMappingURL=stylefaq.css.map */